.env
*.pyc
__pycache__/
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.egg-info
*.egg
*.zip
*.tar.gz
*.tar.bz2
*.tar.xz
venv/
uploads/
outputs/

# pycache at any level
**/__pycache__

# Jupyter Notebook checkpoints
.ipynb_checkpoints
*.ipynb_checkpoints
